* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

section {
  height: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.main {
  background: url(../images/main-bg.png) no-repeat top;
  background-size: cover;
  position: relative;
  font-family: "Playfair Display", serif;
}
.main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.main .header {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
}
.main .header .menu {
  display: flex;
  margin-bottom: 0.625rem;
}
.main .header .menu li + li {
  margin-left: 2.43rem;
}
.main .header .menu a {
  color: #fff;
  font-size: 1.375rem;
}
.main .title-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13.68rem;
  position: relative;
  z-index: 3;
}
.main .title-page h1 {
  font-size: 8.75rem;
  color: #fff;
}
.main .title-page p {
  font-size: 1.5rem;
  color: #fff;
}
.main .title-page button {
  text-transform: uppercase;
  font-size: 0.75px;
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 1.06rem 2.12rem;
  background: transparent;
  margin: 10.62rem 0 5rem 0;
  font-family: "Lato", sans-serif;
}
.main .title-page button:hover {
  background-color: #fff;
  color: #000;
  transition-duration: 0.5s;
}

.second {
  background: url(../images/second-bg.png) no-repeat top;
  background-size: cover;
  position: relative;
  font-family: "Playfair Display", serif;
}
.second::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.second .title-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13.68rem;
  position: relative;
  z-index: 3;
  margin-top: 0;
  padding-top: 17.06rem;
}
.second .title-page h1 {
  font-size: 8.75rem;
  color: #fff;
}
.second .title-page p {
  font-size: 1.5rem;
  color: #fff;
}
.second .title-page button {
  text-transform: uppercase;
  font-size: 0.75px;
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 1.06rem 2.12rem;
  background: transparent;
  margin: 10.62rem 0 5rem 0;
  font-family: "Lato", sans-serif;
}
.second .title-page button:hover {
  background-color: #fff;
  color: #000;
  transition-duration: 0.5s;
}

.third {
  background: url(../images/third-bg.png) no-repeat bottom;
  background-size: cover;
  position: relative;
  font-family: "Playfair Display", serif;
}
.third::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.third .title-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13.68rem;
  position: relative;
  z-index: 3;
  margin-top: 0;
  padding-top: 13.25rem;
}
.third .title-page h1 {
  font-size: 8.75rem;
  color: #fff;
  text-align: center;
}
.third .title-page p {
  font-size: 1.5rem;
  color: #fff;
}
.third .title-page button {
  text-transform: uppercase;
  font-size: 0.75px;
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 1.06rem 2.12rem;
  background: transparent;
  margin: 10.62rem 0 5rem 0;
  font-family: "Lato", sans-serif;
}
.third .title-page button:hover {
  background-color: #fff;
  color: #000;
  transition-duration: 0.5s;
}

.four {
  background: url(../images/four-bg.png) no-repeat top;
  background-size: cover;
  position: relative;
  font-family: "Playfair Display", serif;
}
.four::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.four .title-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13.68rem;
  position: relative;
  z-index: 3;
  margin-top: 0;
  padding-top: 13.25rem;
}
.four .title-page h1 {
  font-size: 8.75rem;
  color: #fff;
  text-align: center;
}
.four .title-page p {
  font-size: 1.5rem;
  color: #fff;
}
.four .title-page button {
  text-transform: uppercase;
  font-size: 0.75px;
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 1.06rem 2.12rem;
  background: transparent;
  margin: 10.62rem 0 5rem 0;
  font-family: "Lato", sans-serif;
}
.four .title-page button:hover {
  background-color: #fff;
  color: #000;
  transition-duration: 0.5s;
}

.five {
  background: url(../images/five-bg.png) no-repeat top;
  background-size: cover;
  position: relative;
  font-family: "Playfair Display", serif;
}
.five::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.five .title-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13.68rem;
  position: relative;
  z-index: 3;
  margin-top: 0;
  padding-top: 13.25rem;
}
.five .title-page h1 {
  font-size: 8.75rem;
  color: #fff;
  text-align: center;
}
.five .title-page p {
  font-size: 1.5rem;
  color: #fff;
}
.five .title-page button {
  text-transform: uppercase;
  font-size: 0.75px;
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 1.06rem 2.12rem;
  background: transparent;
  margin: 10.62rem 0 5rem 0;
  font-family: "Lato", sans-serif;
}
.five .title-page button:hover {
  background-color: #fff;
  color: #000;
  transition-duration: 0.5s;
}

.six {
  background: #000;
  height: 50vh;
}
.six .title-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13.68rem;
  position: relative;
  z-index: 3;
  margin-top: 0;
  padding-top: 7.5rem;
}
.six .title-page h1 {
  font-size: 3.12rem;
  color: #fff;
  text-align: center;
}
.six .title-page p {
  font-size: 1.43rem;
  color: #fff;
}
.six .title-page button {
  text-transform: uppercase;
  font-size: 0.75px;
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 1.06rem 2.12rem;
  background: transparent;
  margin: 10.62rem 0 5rem 0;
  font-family: "Lato", sans-serif;
  margin: 3.75rem 0 5rem 0;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.six .title-page button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition-duration: 0.5s;
}

footer {
  background: #000;
  padding: 3.12rem 0 3.12rem 0;
}
footer .footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
footer .footer-main .made-by {
  display: flex;
}
footer .footer-main .made-by p {
  color: #666;
  font-size: 0.81rem;
}
footer .footer-main .made-by p:nth-child(2) {
  color: #fff;
}
footer .footer-main .made-by p + p {
  margin-left: 1.25rem;
}
footer .footer-main .footer_menu {
  display: flex;
}
footer .footer-main .footer_menu a {
  color: #666;
  font-size: 0.81rem;
}
footer .footer-main .footer_menu a:hover {
  color: #fff;
  transition-duration: 0.5s;
}
footer .footer-main .footer_menu li + li {
  margin-left: 1.25rem;
}

@media (max-width: 1199px) {
  .main-container {
    width: 95%;
  }
  .menu a {
    font-size: 1.3rem !important;
  }
  h1 {
    font-size: 5rem !important;
    text-align: center;
  }
  button {
    margin-top: 8rem !important;
  }
  .six h1 {
    font-size: 3.12rem !important;
  }
}
@media (max-width: 810px) {
  .footer-main {
    flex-direction: column-reverse;
  }
  .footer-main .made-by {
    margin-top: 1.5rem;
  }
  .footer-main .made-by p + p {
    margin-left: 5rem !important;
  }
}
@media (max-width: 580px) {
  .header {
    flex-direction: column;
    padding-top: 2rem;
  }
  .header .menu {
    margin-top: 1rem;
  }
  .header .menu a {
    font-size: 1.2rem !important;
  }
  .header .menu li + li {
    margin-left: 4rem;
  }
  h1 {
    font-size: 3rem !important;
    text-align: center;
  }
  button {
    margin-top: 8rem !important;
  }
  .six h1 {
    font-size: 3.12rem !important;
  }
  .six button {
    margin: 3.75rem 0 5rem 0 !important;
  }
  .made-by p {
    font-size: 0.7rem !important;
  }
  .six h1 {
    font-size: 2.8rem !important;
  }
  .footer_menu a {
    font-size: 0.7rem !important;
  }
}
@media (max-width: 375px) {
  .six h1 {
    font-size: 2.5rem !important;
  }
  .six button {
    margin: 3.75rem 0 8rem 0 !important;
  }
}/*# sourceMappingURL=style.css.map */